<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TOTOTOTO</title>
    </head>
    <body>
        <div id="header">
          <p> Epi Wac API 2019 strasbourg </p>
        </div>
        <div id="users">
        </div>
    </body>
</html>



<script>
setInterval(function() {
  let header = new Headers();
  header.append('x-key', 'U3BPHB8iL96RZy4xdk26viTh4Mc8ebt2rZ454GM4V8hLjkc2UdbAje6wiH6y5u93apT8jVJF9PAQ5fKmw3kM94bnVY2G44Ph4Be7vb7UA6A3K7JM5jJL3f7g8Gq65n9U');
  var request = new Request("/users", {
    method: 'GET',
    headers: header
});

fetch(request)
  .then(response => {
    return response.json()
  })
  .then(data => {

  /*  <table style="width:100%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>  */

    let output = '';
    output += '<table> <tr><th>Email</th><th>Points</th></tr>';
  for(var i = 0; i < data.length; i++) {
    var obj = data[i];
    output += '<tr><td>'+obj.email+'</td> <td>' + obj.points +  ' points </td></tr>';
    document.getElementById('users').innerHTML = output;
  }
  output += '</table>'
  })
  .catch(err => {
    console.log("Erreur lors de la récupération du json");
  })
}, 1000);





</script>
